<body class="p-1">
  <div class="row w-75 mx-auto justify-content-start align-items-start g-2">
    <div class="col">
      <img src="../assets/signup/logo.png" alt="" />
    </div>
  </div>
  <div class="d-flex row mx-auto justify-content-center w-75">
    <div class="col-5">
      <div class="">
        <img
          class="card-img-top"
          src="../assets/signup/Rectangle 2.png"
          alt=""
          height="542"
          width="200"
        />
      </div>
    </div>

    <div class="col">
      <form class="pt-5 px-4 w-75 align-self-center mx-auto">
        <h1 class="fs-3 fw-normal d-flex justify-content-center">Sign Up</h1>
        <div class="mb-3">
          <label for="forEmail" class="form-label">Name *</label>
          <input
            type="text"
            class="form-control"
            id="forEmail"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="forEmail" class="form-label">Email Address *</label>
          <input
            type="email"
            class="form-control"
            id="forEmail"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >Create Password *</label
          >
          <input
            type="password"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >Confirm Password *</label
          >
          <input
            type="password"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder=""
          />
        </div>
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          SIGN UP
        </button>
        <p class="mt-2 mb-1 text-muted">
          Already have an account? <a routerLink="">Login</a>
        </p>
      </form>
    </div>
    <!-- </div> -->
  </div>
  <!-- <main class="form-signin w-25 mx-auto"></main> -->
</body>
